<a href="https://colab.research.google.com/github/p9anand/SHALA2020/blob/master/Assignment_1_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Assignment - 1 : Getting Started**

---

This assignment will get you familiarized with python libraries required for ***data science*** and ***machine learning***. You will have to complete the code snippets and run them.

## **Note :**   Use only the methods and attributes of the ```numpy``` library. **Do not** hard-code them. Avoid loops as much as possible.

---
## Part - 1
 In this part, you will work with the library ```numpy```.

Import ```numpy``` with an alias name ```np```. Initialize two arrays $a$, $b$ of size $3 \times 5$ with random values and print them.

In [1]:
import numpy as np 

a = np.random.rand(3,5)
b = np.random.rand(3,5)
print(a)
print(b)

[[0.82045275 0.47943976 0.47711277 0.61048685 0.23861697]
 [0.1997782  0.33120015 0.33519406 0.29362207 0.85468042]
 [0.39024494 0.11148004 0.1965106  0.77319691 0.74253275]]
[[0.6575865  0.07023981 0.67174558 0.94708363 0.97028802]
 [0.38805982 0.17823554 0.50744272 0.75723663 0.98341403]
 [0.81847743 0.22060397 0.35795651 0.4226798  0.91496644]]

Initialize and print two arrays $c$ and $d$ having the following properties:
*   $c$ is a row vector with all positive integer values less than 100
* $d$ is a square matrix of size 3 having all entries as 0.0

In [2]:
c = np.random.randint(100, size=(100, ))
print(c)
d = np.zeros(shape=(3,3))
print(d)

[92 10 93 72 12 84 10 29 12 85 12 89  8 24 68 30 61 45 61 86 51 91 33  9
 16 44 50  2 60 88 93 18 74 92 68 45 46 46 38  7  7 27 31 91 12 43 86 89
 41 41 48  6 46 52 46  9 18 30 39 72  5 45  2 10 62 86 18 42 28 87  6  0
  4 73 13  3 53 34 40 27 78 93 69 77 15 85 28  3 27 20 16 66 14 36 74 75
 66 18 50 79]
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

We have $e$ as following : ```e = [[1,2,3],[4,5,6],[7,8,9]]```. Change $e$ as a numpy array and print it.

In [3]:
e = [[1,2,3],[4,5,6],[7,8,9]]
e = np.array(e)
print(e)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

$f$ and $g$ are two square matrices of size 5 such that all the entries of $f$ are 1 and $g$ is an identity matrix. Initialize them and print them

In [4]:
f = np.ones(shape=(5, 5))
print(f)
g = np.eye(5)
print(g)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

Reshape $c$ into a $10 \times 10$ matrix and name it $h$. Now flatten $h$, call it $c^\prime$ and print **YES** when the shapes of $c$ and $c^\prime$ are same. Otherwise print **NO**.

In [5]:
print(c.shape)
h = np.reshape(c, (10, 10))
print(h)
c_prime = h.flatten()
print(c_prime.shape)

if c_prime.shape==c.shape:
    print('YES')
else:
    print('NO')

(100,)
[[92 10 93 72 12 84 10 29 12 85]
 [12 89  8 24 68 30 61 45 61 86]
 [51 91 33  9 16 44 50  2 60 88]
 [93 18 74 92 68 45 46 46 38  7]
 [ 7 27 31 91 12 43 86 89 41 41]
 [48  6 46 52 46  9 18 30 39 72]
 [ 5 45  2 10 62 86 18 42 28 87]
 [ 6  0  4 73 13  3 53 34 40 27]
 [78 93 69 77 15 85 28  3 27 20]
 [16 66 14 36 74 75 66 18 50 79]]
(100,)
YES

Let $A$ denote a randomly initialized three dimensional matrix of shape (2,10,5). Transpose $A$, call it $A^\prime$, such that its shape is (5,2,10) and print it.

In [6]:
A = np.random.rand(2,10,5)
print(A)
A_prime = A.T.reshape((5, 2, 10))
# print(A_prime.reshape((5, 2, 10)))
print(A_prime)

[[[0.75583069 0.63731663 0.64643269 0.34950429 0.35185043]
  [0.01907073 0.85595561 0.22308593 0.76261161 0.24077169]
  [0.96916065 0.91462896 0.53265398 0.38547977 0.72211728]
  [0.59048343 0.51731464 0.4232958  0.8270779  0.97742095]
  [0.03095787 0.98690406 0.61686898 0.35393797 0.46401177]
  [0.23507874 0.56527617 0.90358457 0.56065124 0.64461716]
  [0.44440959 0.78780151 0.3644425  0.99363006 0.1034506 ]
  [0.81758218 0.73640152 0.45242948 0.56920807 0.86709792]
  [0.96842276 0.40663831 0.85899697 0.98425778 0.1188185 ]
  [0.83945022 0.25490912 0.87932566 0.87299594 0.96125118]]

 [[0.76267815 0.63911858 0.28215218 0.52529103 0.30864279]
  [0.72132473 0.17786909 0.05832565 0.96751907 0.29515615]
  [0.03511974 0.08253276 0.03173348 0.92649851 0.86087444]
  [0.31860737 0.54223868 0.32189153 0.98846497 0.47937682]
  [0.19155592 0.32374169 0.41903145 0.20281722 0.07207588]
  [0.2968703  0.58737076 0.80139616 0.20678682 0.40529458]
  [0.96279912 0.76071442 0.90287492 0.80833768 0.8744429 ]
  [0.30626676 0.42033629 0.19269521 0.46214757 0.13699682]
  [0.67806837 0.63450645 0.34170211 0.06688252 0.09056058]
  [0.02142978 0.90209786 0.71409802 0.4428618  0.58925708]]]
[[[0.75583069 0.76267815 0.01907073 0.72132473 0.96916065 0.03511974
   0.59048343 0.31860737 0.03095787 0.19155592]
  [0.23507874 0.2968703  0.44440959 0.96279912 0.81758218 0.30626676
   0.96842276 0.67806837 0.83945022 0.02142978]]

 [[0.63731663 0.63911858 0.85595561 0.17786909 0.91462896 0.08253276
   0.51731464 0.54223868 0.98690406 0.32374169]
  [0.56527617 0.58737076 0.78780151 0.76071442 0.73640152 0.42033629
   0.40663831 0.63450645 0.25490912 0.90209786]]

 [[0.64643269 0.28215218 0.22308593 0.05832565 0.53265398 0.03173348
   0.4232958  0.32189153 0.61686898 0.41903145]
  [0.90358457 0.80139616 0.3644425  0.90287492 0.45242948 0.19269521
   0.85899697 0.34170211 0.87932566 0.71409802]]

 [[0.34950429 0.52529103 0.76261161 0.96751907 0.38547977 0.92649851
   0.8270779  0.98846497 0.35393797 0.20281722]
  [0.56065124 0.20678682 0.99363006 0.80833768 0.56920807 0.46214757
   0.98425778 0.06688252 0.87299594 0.4428618 ]]

 [[0.35185043 0.30864279 0.24077169 0.29515615 0.72211728 0.86087444
   0.97742095 0.47937682 0.46401177 0.07207588]
  [0.64461716 0.40529458 0.1034506  0.8744429  0.86709792 0.13699682
   0.1188185  0.09056058 0.96125118 0.58925708]]]

You have a matrix $X$ of size (10,5) filled with random values. Print the following :
* Minimum value and index where it occured, for each column
* Maximum value and the index where it occured, for each column
* Minimum value and index where it occured, for each row
* Maximum value and index where it occured, for each row
* Minimum value and index where it occured, for the entire matrix
* Maximum value and index where it occured, for the entire matrix

In [7]:
np.random.seed(0)
X = np.random.rand(10,5)
print(f'Minimum value of array X along columns: {np.amin(X, axis=0)} and corresponding index: {np.argmin(X, axis=0)}')
print('------------')
print(f'Maximum value of array X along columns: {np.amax(X, axis=0)} and corresponding index: {np.argmax(X, axis=0)}')
print('------------')
print(f'Minimum value of array X along row: {np.amin(X, axis=1)} and corresponding index: {np.argmin(X, axis=1)}')
print('------------')
print(f'Maximum value of array X along row: {np.amax(X, axis=1)} and corresponding index: {np.argmax(X, axis=1)}')
print('------------')
print(f'Minimum value of array X overall: {np.amin(X)} and corresponding index: {np.argmin(X)}')
print('------------')
print(f'Maximum value of array X overall: {np.amax(X)} and corresponding index: {np.argmax(X)}')

Minimum value of array X along columns: [0.0871293  0.0202184  0.1289263  0.06022547 0.0187898 ] and corresponding index: [3 3 9 8 6]
------------
Maximum value of array X along columns: [0.97861834 0.79915856 0.94466892 0.96366276 0.87001215] and corresponding index: [4 4 5 1 3]
------------
Minimum value of array X along row: [0.4236548  0.38344152 0.07103606 0.0202184  0.11827443 0.14335329
 0.0187898  0.61209572 0.06022547 0.1289263 ] and corresponding index: [4 4 4 1 4 1 4 1 3 2]
------------
Maximum value of array X along row: [0.71518937 0.96366276 0.92559664 0.87001215 0.97861834 0.94466892
 0.77423369 0.94374808 0.6976312  0.67063787] and corresponding index: [1 3 3 4 0 2 1 3 2 0]
------------
Minimum value of array X overall: 0.018789800436355142 and corresponding index: 34
------------
Maximum value of array X overall: 0.978618342232764 and corresponding index: 20

Find and print the following for the matrix X: 
* Mean of each row and column
* Standard deviation of each row and column
* Mean of the entire matrix
* Standard deviation of entire matrix

In [8]:
print(f'mean of X along row: {X.mean(axis=1)} and along column: {X.mean(axis=0)}')
print(f'standard deviation of X along row: {X.std(axis=1)} and along column: {X.std(axis=0)}')
print(f'mean of the entire matrix is: {X.mean()}')
print(f'standard deviation of entire matrix is: {X.std()}')

mean of X along row: [0.56706085 0.66447172 0.57705944 0.51762729 0.62761197 0.5328907
 0.41643268 0.69444672 0.44423265 0.33781717] and along column: [0.56044382 0.46781457 0.62009909 0.64025127 0.40121685]
standard deviation of X along row: [0.09445299 0.23322986 0.29189733 0.38052993 0.30431633 0.26338419
 0.25841437 0.12727959 0.23169975 0.18537332] and along column: [0.24687647 0.25752158 0.22948615 0.28054144 0.26584905]
mean of the entire matrix is: 0.5379651182755409
standard deviation of entire matrix is: 0.27226582292177587

Let $Y$ denote a square matrix of size 10 with random values. Print the following:
* Determinant
* Rank of the matrix
* Diagonal Elements
* Trace
* Eigen values
* Matrices obtained after Singular Value Decomposition
* Inverse if exists, otherwise Pseudo-Inverse
* Multiplication $Y$ with $X$
* Element-wise multiplication of $Y$ and its inverse(or pseudo-inverse)

In [9]:
np.random.seed(3)
Y = np.random.rand(10,10)
print(f'determinant of Y: {np.linalg.det(Y)}')
print(f'rank of the Y: {np.linalg.matrix_rank(Y)}')
print(f'diagonal elements of matrix Y: {Y.diagonal()}')
print(f'trace of matrix Y: {Y.trace()}')
print(f'eigen values of matrix Y: {np.linalg.eigvals(Y)}')
print(f'matrices obtained after svd: {np.linalg.svd(Y)}')
print(f'inverse of martix Y: {np.linalg.inv(Y)}')
print(f'multiplication of matrix Y with X i.e(Y*X): {np.matmul(Y, X)}')
print(f'Element-wise multiplication of  ùëå  and its inverse(or pseudo-inverse): {np.dot(Y, np.linalg.inv(Y))}')

determinant of Y: -0.012807808169095483
rank of the Y: 10
diagonal elements of matrix Y: [0.5507979  0.45683322 0.44045372 0.84575087 0.4576864  0.36217621
 0.06152893 0.19897603 0.92672568 0.19638058]
trace of matrix Y: 4.497309545724899
eigen values of matrix Y: [ 4.797525  +0.j          0.72411408+0.52238181j  0.72411408-0.52238181j
 -0.48250062+0.55413671j -0.48250062-0.55413671j -0.6909002 +0.j
 -0.25905659+0.32357377j -0.25905659-0.32357377j  0.2127855 +0.08352477j
  0.2127855 -0.08352477j]
matrices obtained after svd: (array([[-0.31776408, -0.02455508, -0.60644878, -0.17883359, -0.12672161,
         0.14873878, -0.17823942, -0.52859453, -0.02295855, -0.38570883],
       [-0.26118514, -0.10864541, -0.24911354,  0.26547359,  0.52168399,
        -0.25773901, -0.46995326,  0.21752636, -0.39285046,  0.16234491],
       [-0.31347907, -0.34483471, -0.25292297,  0.1214296 ,  0.1486964 ,
         0.33436315,  0.54080229,  0.48017168,  0.05660692, -0.20966421],
       [-0.35815379,  0.59490017,  0.30255161,  0.15850614, -0.11046295,
         0.3051409 ,  0.07395537,  0.03044889, -0.50561658, -0.18384856],
       [-0.28385845, -0.18085696, -0.1583078 ,  0.10535533, -0.46807835,
        -0.08377643,  0.24075452, -0.16170764, -0.24786952,  0.69201648],
       [-0.28871348, -0.27577124,  0.40271105,  0.60433658,  0.11931679,
        -0.04899205,  0.02593316, -0.44875145,  0.27874747, -0.12964796],
       [-0.27897316,  0.00398904,  0.20819753, -0.52536617,  0.41116881,
        -0.41991923,  0.42687225, -0.24145621, -0.12958507, -0.00984813],
       [-0.24788529,  0.48136836, -0.15792433, -0.02303902,  0.3246308 ,
         0.25755952, -0.01429533, -0.03088365,  0.56052488,  0.44079262],
       [-0.37505167, -0.36728578,  0.39799373, -0.45186801, -0.10830044,
         0.34456765, -0.4447402 ,  0.14147957,  0.0716725 ,  0.09192695],
       [-0.40049601,  0.19846099, -0.02705464,  0.02500837, -0.39745062,
        -0.57941613, -0.10288216,  0.3673956 ,  0.33321483, -0.22039139]]), array([4.89636645, 1.42832104, 1.17173389, 0.94068764, 0.76892251,
       0.62457278, 0.52105948, 0.28969576, 0.24512275, 0.09350223]), array([[-0.28816735, -0.35560525, -0.33294235, -0.33250662, -0.36658188,
        -0.3625847 , -0.26573249, -0.23278667, -0.30457183, -0.29270444],
       [ 0.53693497,  0.11306854,  0.39562078,  0.25099719, -0.07369559,
        -0.37753546, -0.08584363,  0.00333609, -0.2399022 , -0.51623983],
       [-0.084609  , -0.22589744, -0.00306935,  0.1954239 , -0.327784  ,
        -0.49318928,  0.42323124,  0.18588504,  0.58200169,  0.02301787],
       [ 0.01388163, -0.2631197 ,  0.42190391, -0.53612946,  0.01058633,
        -0.04415909,  0.29385139,  0.49501812, -0.32731018,  0.15669071],
       [-0.27340804,  0.28220631,  0.28945859, -0.1626885 ,  0.14790418,
        -0.35915036, -0.64971879,  0.23854611,  0.29589227,  0.1337842 ],
       [ 0.10830593,  0.27974551, -0.20571161,  0.10308827,  0.10096026,
        -0.5325142 ,  0.15994871, -0.16150892, -0.3941055 ,  0.59692177],
       [ 0.44882085,  0.34972045, -0.01773924, -0.50737391, -0.52251393,
         0.11970007, -0.02807841, -0.20137782,  0.25705553,  0.15409283],
       [-0.35599817, -0.05022624,  0.63427946,  0.20935183, -0.34847081,
         0.11510691,  0.03182222, -0.47748403, -0.1161671 ,  0.21777064],
       [ 0.18417681, -0.32168889,  0.15954963, -0.32397524,  0.5548368 ,
        -0.1807982 ,  0.08626619, -0.55063636,  0.28439362, -0.01119242],
       [-0.41560913,  0.59522266,  0.02089304, -0.23979844,  0.13515565,
        -0.0893732 ,  0.44674689, -0.10709455, -0.02239562, -0.42098815]]))
inverse of martix Y: [[ 2.31470983 -1.92264991  0.7642126   0.78096977 -2.74248585  1.20175092
   0.38693174 -1.37664514 -0.96484143  0.83123246]
 [-2.24504111  1.25605742 -0.91466223 -0.39587642  4.71823627 -1.32162185
   0.52594984  2.39368168  0.33051878 -2.33540101]
 [-1.41290916  0.66149939  0.94968095 -0.18869248 -0.50069581 -0.55664939
  -0.55275157  0.57384943 -0.04209635  1.11025544]
 [ 0.88051129  0.37055438  0.15632501  1.25248223 -1.81219563 -0.7249179
  -0.19613524 -1.81766381  0.56943994  0.52226388]
 [ 0.39743656 -0.28842728 -1.09880632 -1.57965965  0.36480771  0.90235521
  -0.47743451  2.09911148  0.53638288 -0.04562024]
 [ 0.36068175  0.22958502  0.33426258  0.10367281 -0.06700744 -0.37158555
   0.22972702 -1.26286862 -0.45133033  0.75430018]
 [-2.01045364  0.19347423 -1.01393804 -0.74303568  3.56449935 -0.31892146
  -0.67116163  2.01265699  0.72873355 -0.69454601]
 [ 1.18043988  0.86047396 -0.88991494  1.30425635 -0.14247318  0.69661973
   0.5413572  -1.69774697 -0.60797727 -1.00698216]
 [-0.1679456  -0.63197036 -0.0540802  -0.73587818 -0.46423184  0.67805628
   0.88551393  0.37662528 -0.03416891  0.42341327]
 [ 1.3938872  -0.74982353  1.96636643  1.00676681 -3.21953806  0.44078124
  -0.40298654 -1.90114336 -0.04414834  0.55576763]]
multiplication of matrix Y with X i.e(Y*X): [[2.95726101 2.04939653 3.09073485 3.22311637 1.78554985]
 [2.61266989 1.75663954 2.48635951 2.79783984 1.50654432]
 [2.98361778 2.02894044 2.82637865 2.88685728 1.69799548]
 [2.98565892 2.85485651 3.58995669 4.0073463  2.2697569 ]
 [2.49815821 1.97791033 2.77809758 2.71690515 1.59098767]
 [2.72146909 2.39905911 2.58780909 2.78212857 1.71792628]
 [2.22935358 1.74438251 2.94718357 2.48955906 2.05838199]
 [2.30476788 1.92350098 2.41698824 2.81379687 1.38016019]
 [2.91925254 2.36604123 3.53647969 3.30424184 2.52990887]
 [3.39559098 2.84629279 4.05845051 4.01068273 2.35816262]]
Element-wise multiplication of  ùëå  and its inverse(or pseudo-inverse): [[ 1.00000000e+00 -3.90793144e-17  3.65935406e-16  3.11342944e-16
  -8.91983549e-16 -4.81506510e-17 -1.42655871e-16 -6.91246638e-16
  -6.67910040e-17  1.33795870e-16]
 [ 1.42780307e-17  1.00000000e+00 -6.98095657e-17 -1.52151045e-16
  -4.63427918e-16 -1.05178821e-16  4.44443766e-17 -9.87040861e-17
   1.06466168e-16 -1.58597206e-16]
 [-1.44191947e-17 -4.68953161e-17  1.00000000e+00  4.77076242e-17
  -6.49165003e-16 -6.78141792e-17 -9.36855690e-18 -9.73600834e-16
  -3.16087494e-17 -1.18238356e-16]
 [-1.41735142e-16  2.10254036e-16  1.43559668e-17  1.00000000e+00
   5.52648957e-17 -8.23073740e-18 -1.72594927e-18  7.33409702e-17
   4.69571374e-17 -2.73245897e-16]
 [-1.71385362e-17 -3.79289464e-18 -2.27088068e-16  1.03307474e-16
   1.00000000e+00 -2.64623779e-17  1.14447652e-16  2.15787383e-17
  -1.42660749e-17 -2.17474454e-16]
 [-8.26384805e-17  1.20440776e-16 -4.69445243e-17 -3.74729367e-17
   9.72134814e-16  1.00000000e+00  1.81161593e-17  2.13127233e-16
  -7.72471485e-17 -1.30656837e-16]
 [ 3.53786975e-16  2.66066463e-18 -6.15228131e-17  1.38960755e-16
  -1.33510130e-15  2.62173396e-17  1.00000000e+00 -3.76182195e-16
  -7.02445804e-17  2.06159764e-16]
 [-2.75842016e-16 -7.28598118e-17 -2.34103860e-16  2.80898127e-17
  -1.39319386e-16  1.41600267e-16 -4.52961673e-17  1.00000000e+00
  -2.64462855e-17 -7.90426564e-17]
 [-6.53027597e-17  1.25653075e-16  5.18133677e-17  1.96668895e-17
  -3.92404830e-16 -2.59855724e-17  2.19914269e-18  2.18871633e-17
   1.00000000e+00 -5.87793126e-18]
 [-1.92650595e-16  2.94720021e-16  1.10584317e-16  1.69940671e-16
   3.19180173e-16 -1.66979037e-17 -4.43339340e-17  3.56743742e-17
  -9.06248767e-18  1.00000000e+00]]

## End of Part - 1
 --- --- ---

## Part - 2
---
In this part, you will be working with the library ```pandas```. Import this library with an alias name ```pd```.

In [0]:
# Initial imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Download dataset from: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.csv
Read the data and display the first 5 rows

In [11]:
#Download dataset from: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.csv

file_url = "http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.csv"
df = pd.read_csv(file_url)
df.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

### Preprocessing of the Dataset



---


**1. Convert the categorical values of columns 'sex', 'embarked', 'pclass' into dummy values and add them into titanic_data_new DataFrame**




---

In [0]:
titanic_data_new = pd.get_dummies(df, columns=['sex', 'embarked', 'pclass'])
# titanic_data_new



---


**2. Fill the missing data in Age and Fare columns with the mean value of the respected column then add these columns to titanic_data_new**


---

In [0]:
age_mean = np.mean(titanic_data_new['age'])

fare_mean = np.mean(titanic_data_new['fare'])

titanic_data_new['new_age'] = titanic_data_new['age'].fillna(age_mean)
titanic_data_new['new_fare'] = titanic_data_new['fare'].fillna(fare_mean)

###Normalization


---



1. Normalize the columns which have numerical data



---

In [14]:
titanic_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    1309 non-null   int64
 1   name        1309 non-null   object
 2   age         1046 non-null   float64
 3   sibsp       1309 non-null   int64
 4   parch       1309 non-null   int64
 5   ticket      1309 non-null   object
 6   fare        1308 non-null   float64
 7   cabin       295 non-null    object
 8   boat        486 non-null    object
 9   body        121 non-null    float64
 10  home.dest   745 non-null    object
 11  sex_female  1309 non-null   uint8
 12  sex_male    1309 non-null   uint8
 13  embarked_C  1309 non-null   uint8
 14  embarked_Q  1309 non-null   uint8
 15  embarked_S  1309 non-null   uint8
 16  pclass_1    1309 non-null   uint8
 17  pclass_2    1309 non-null   uint8
 18  pclass_3    1309 non-null   uint8
 19  new_age     1309 non-null   float64
 20  new_fare    1309 non-null   float64
dtypes: float64(5), int64(3), object(5), uint8(8)
memory usage: 143.3+ KB

In [15]:
# normalized_df=(titanic_data_new-titanic_data_new.mean())/titanic_data_new.std()
# normalized_df.head()
columns_to_be_normalized = ['new_age', 'sibsp', 'parch', 'new_fare']
for column in columns_to_be_normalized:
    titanic_data_new[f'normalized_{column}'] = (titanic_data_new[column]-titanic_data_new[column].mean())/titanic_data_new[column].std()
titanic_data_new.head()

   survived  ... normalized_new_fare
0         1  ...            3.441165
1         1  ...            2.285603
2         0  ...            2.285603
3         0  ...            2.285603
4         0  ...            2.285603

[5 rows x 25 columns]



---
2. Drop the original age, fare columns
3. Append the normalized columns to the titanic_data_new DataFrame.



---

In [16]:
titanic_data_new = titanic_data_new.drop(columns=['age', 'fare'], axis=1)
titanic_data_new.head()

   survived  ... normalized_new_fare
0         1  ...            3.441165
1         1  ...            2.285603
2         0  ...            2.285603
3         0  ...            2.285603
4         0  ...            2.285603

[5 rows x 23 columns]

###Plotting
1. plot the age against the ID(continuous)
2. plot the fare against the ID(scatter)

## End of Part - 2
---

## Part - 3
---

In this part, you will work with the library ```matplotlib```. Import the ```pyplot``` from ```matplotlib``` with an alias name ```plt```.

Plot the sine function with domain in $[-3\pi,3\pi]$. Label the axes appropriately. Add title $\sin(x)$. Use latex formatting while adding the title. Set the plot size to (10,10)

Plot $\sin(x)$ and its spectrum, $\cos(x)$ and its spectrum in a single plot, in the domain $[-2\pi,2\pi]$. Label the plot appropriately.

## End of Part - 3
---

Create a Github repository with the name ***SHALA2020*** and save this assignment there.